body {
  font-family: sans-serif;
  background-image: url('zen.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d32f2f;
}

#sidebar {
  list-style-type: none;
  padding: 30;
  margin: 30;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  gap: 6in;
  background-color: pink;
}

#sidebar li {
  margin: 0;
}

#sidebar li a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold; 
  border: 2px solid #000; 
  border-radius: 5px; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

#sidebar li a:hover {
  background-color: #007bff;
  color: #fff; 
}

#regi{
  text-align: center;
}

#wel{
  padding: 60px;
}

#reg{
  padding: 60px;
}

